<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.white_space.cafe.mapper.CafeMapper">

    <insert id="saveCafe" parameterType="OnCreateCafeDto">
        INSERT INTO cafe (cafe_name,cafe_image)
        VALUES (#{cafeName},#{cafeImage})
    </insert>

    <update id="updateData" parameterType="OnUpdateRemainSeatDto">
        UPDATE cafe
        SET remain_seat = #{remainSeat}, percent = #{percent}
        WHERE cafe_id = #{cafeId}
    </update>

    <select id="findAllCafe" resultType="Cafe">
        SELECT *
        FROM cafe
    </select>

    <select id="findCafe" parameterType="int" resultType="Cafe">
        SELECT *
        FROM cafe
        WHERE cafe_id = #{cafeId}
    </select>


</mapper>